<nav class="navbar">
  <div class="navbar-container">
    <a href="#" class="navbar-logo">Ngrx/signals</a>

    <ul class="navbar-menu">
      @for (item of navItems; track item.href) {
      <li class="navbar-item">
        <a
          class="navbar-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="item.href"
          >{{ item.label }}</a
        >
      </li>
      }
    </ul>
    <!-- <div class="navbar-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div> -->
  </div>
</nav>
